Manifest.toml

# As using jupytext
*.ipynb

.ipynb_checkpoints
				
# Docs
docs/build/
docs/src/pdf_parametrisation.md
docs/src/forward_model.md
docs/src/transfer_matrix.md
docs/src/prior_bat_implementation.md

# Mac OS
.DS_Store

# HDF5 files
*.h5