name: CIv2
on: 
  push: 
  schedule:
    - cron: "0 7 * * 2"
jobs:
  build-partondensity-docker-image:
    runs-on: ubuntu-latest
    name: Build PartonDensity Docker image
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 2
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Check if the build is scheduled
      if: github.event_name == 'schedule'
      run: |
         echo "Scheduled" > .github/workflows/todo.txt    
    - name: Build the PartonDensity Docker image
      run: |
         touch todo.txt
         git diff --name-only HEAD HEAD~1 | grep .github/workflows/Dockerfile | head -n 1 >> todo.txt || touch todo.txt
         if [ -s todo.txt ]; then
           cd .github/workflows
           docker build . --tag ghcr.io/cescalara/partondensity.jl:latest
           docker run ghcr.io/cescalara/partondensity.jl:latest
           docker push ghcr.io/cescalara/partondensity.jl
         fi

  run-in-partondensity-docker-image:
    name: Run in PartonDensity Docker image
    runs-on: ubuntu-latest
    needs: build-partondensity-docker-image
    container:
            image: ghcr.io/cescalara/partondensity.jl:latest
            credentials:
               username: ${{ github.actor }}
               password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Run
      run : |
         export JULIA_PKGDIR=/opt/julia
         export JULIA_DEPOT_PATH=/opt/myjulia
         julia --project=. -e 'import Pkg; Pkg.instantiate(); include("test/runtests.jl")'
         
  build-docs-in-partondensity-docker-image:
    name: Build docs in PartonDensity Docker image
    runs-on: ubuntu-latest
    needs: build-partondensity-docker-image
    container:
            image: ghcr.io/cescalara/partondensity.jl:latest
            credentials:
               username: ${{ github.actor }}
               password: ${{ secrets.GITHUB_TOKEN }}    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 2
    - name: Build and deploy docs
      env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # If authenticating with GitHub Actions token
          PLOTS_TEST: "true"
          GKSwstype: "100"
          # JULIA_DEBUG: "all"
      run: |
           julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
           julia --project=docs/ docs/make.jl

